<h2>Cadastrar Cliente</h2>
<div class="form">
<form action="/clientes/cadastrar" method="POST">
<label for="cpf">CPF</label>
<input type="text" name="cpf" id="cpf" value="{{tbl_clientes.cpf}}">
<label for="nome">Nome</label>
<input type="nome" name="nome" id="nome" value="{{tbl_clientes.nome}}">
<label for="endereco">Endereço</label>
<input type="endereco" name="endereco" id="endereco" value="{{tbl_clientes.endereco}}">
<label for="telefone">Telefone</label>
<input type="telefone" name="telefone" id="telefone" value="{{tbl_clientes.telefone}}">
<label for="email">Email</label>
<input type="email" name="email" id="email" value="{{tbl_clientes.email}}">
<input type="submit" id="btn" value="Cadastrar Cliente">
</form>
</div>