<h2>Lista de Reservas</h2>
<div class="container-reservas">
    {{#each tbl_reservas}}
    <div class="lista-card reservas">
    <p>#{{this.idReserva}}</p>
    <p>CPF:</p> <span>{{this.cpf}} </span>
    <p> Placa: </p><span>{{this.placa}}</span>
    <p>Data de Retirada: </p><span>{{this.dataInicio}}  </span>
    <p>Data de Devolução:</p> <span>{{this.dataFim}}</span>
    <form action="/reservas/remover/{{this.idReserva}}" method="POST">
    <input type="submit" value="Remover">
    </form>
    </div>
    {{/each}}
</div>