<h2>Clientes Cadastrados</h2>
<div class="lista-container">
    {{#each tbl_clientes}}
    <div class="lista-card">
    <p>{{this.cpf}}</p>
    <p>{{this.nome}}</p>
    <p>{{this.endereco}}</p>
    <p>{{this.telefone}}</p>
    <p>{{this.email}}</p>
    <form action="/clientes/remover/{{this.cpf}}" method="POST">
    <input type="submit" class="remover-btn" value="Remover">
    </form>
    </div>
    {{/each}}
</div>